@import '@shared/styles/variables';

.custom-table {
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid $colorGreyLight;
  border-radius: 0.375rem;
  overflow: hidden;

  thead {
    tr:first-child th:first-child {
      border-top-left-radius: 0.375rem;
    }
    tr:first-child th:last-child {
      border-top-right-radius: 0.375rem;
    }
  }

  tbody {
    tr:last-child td:first-child {
      border-bottom-left-radius: 0.375rem;
    }
    tr:last-child td:last-child {
      border-bottom-right-radius: 0.375rem;
    }
  }

  th,
  td {
    border: 1px solid $colorGreyLight;
  }

  th:first-child,
  td:first-child {
    border-left: none;
  }

  th:last-child,
  td:last-child {
    border-right: none;
  }

  thead tr th {
    border-top: none;
  }

  tbody tr:last-child td {
    border-bottom: none;
  }
}
