@import '@shared/styles/variables';

.asset-card-edit__body {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.asset-card-edit__title {
  color: #{$colorGrey};
  font-weight: var(--typography-font-weights-bold, 700);
  font-size: 1.2rem;
  line-height: 1.4375;
  margin: 0;
}

.asset-card-edit__name-group {
  label {
    font: var(--typography-regular-small-body, 400 0.875rem/1.313rem 'BC Sans');
    color: #{$colorGrey};
  }

  .form-control {
    width: 100%;
  }
}

.asset-card-edit__fields {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  align-items: flex-end;

  .form-group {
    flex: 0 1 auto;

    label {
      font: var(--typography-regular-small-body, 400 0.875rem/1.313rem 'BC Sans');
      color: #{$colorGrey};
      display: block;
      margin-bottom: 0.25rem;
    }

    .form-control {
      width: 100px;
    }

    .input-group-text {
      background-color: #{$colorBackgroundGrey};
      font: var(--typography-regular-small-body, 400 0.875rem/1.313rem 'BC Sans');
      color: #{$colorGreyMed};
    }
  }
}

