@import '@/styles/global';

.info-section {
  @include media-breakpoint-up(md) {
    background: repeating-linear-gradient(
      to bottom,
      $colorWhite 0,
      $colorWhite 33.33%,
      $colorBackgroundGrey 33.33%,
      $colorBackgroundGrey 83.66%,
      $colorWhite 83.66%,
      $colorWhite 100%
    );
  }
  @media (max-width: 380px) {
    padding-top: 2em;
    background-color: yellow;
  }
  @include media-breakpoint-down(md) {
    margin-top: 1em !important;
  }
  .content-section {
    @extend .page;
  }

  .learn-more-link {
    color: $colorBlueMed;
    text-decoration: underline;

    svg {
      font-size: 0.7rem;
    }
  }

  .partnering-box {
    padding-left: 1.8em;
    color: $colorBlue;
  }
}
