@import '@/styles/global';

.info-section {
  @include media-breakpoint-up(md) {
    background: repeating-linear-gradient(
      to bottom,
      $colorWhite 0,
      $colorWhite 33.33%,
      $colorBackgroundGrey 33.33%,
      $colorBackgroundGrey 83.66%,
      $colorWhite 83.66%,
      $colorWhite 100%
    );
  }
  @include media-breakpoint-down(md) {
    margin-top: 2.5em !important;
  }
  @media (min-width: 340px) {
    margin-top: 5.5em !important;
  }
  @media (min-width: 390px) {
    margin-top: 1em !important;
  }
  .content-section {
    @extend .page;
  }

  .learn-more-link {
    color: $colorBlueMed;
    text-decoration: underline;

    svg {
      font-size: 0.7rem;
    }
  }

  .partnering-container {
    @media (max-width: 768px) {
      padding-left: 6px;
    }
    .partnering-box {
      padding-left: 1.8em;
      color: $colorBlue;
      @media (max-width: 768px) {
        padding-left: 0px !important;
        margin-left: 0px !important;
      }
    }
  }
}
