@import '@/styles/global';

.info-section {
  @include media-breakpoint-up(md) {
    background: repeating-linear-gradient(
      to bottom,
      $colorWhite 0,
      $colorWhite 33.33%,
      $colorBackgroundGrey 33.33%,
      $colorBackgroundGrey 83.66%,
      $colorWhite 83.66%,
      $colorWhite 100%
    );
  }

  @media (max-width: 428px) {
    margin-top: 6rem !important;
  }

  @media (max-width: 374px) {
    margin-top: 8rem !important;
  }

  @media (max-width: 338px) {
    margin-top: 10rem !important;
  }

  .content-section {
    @extend .page;
  }

  .learn-more-link {
    color: $colorBlueMed;
    text-decoration: underline;

    svg {
      font-size: 0.7rem;
    }
  }
}
