@import '@/styles/variables.scss';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/_breakpoints';

.search-map-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2000;
  overflow: hidden;
  background-color: white;

  .search-map-feature-preview {
    max-width: 250px;

    @include media-breakpoint-up(sm) {
      max-width: 800px;
    }
  }
}

.search-map-controls {
  position: fixed;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: $pageMaxWidth;
  gap: 0.75rem;
  top: 10px;
  z-index: 10000;
  padding: 0.5rem;
  border-radius: 4px;
  width: 100%;

  @include media-breakpoint-up(sm) {
    max-width: 400px;
    left: 10px;
  }

  @include media-breakpoint-up(md) {
    max-width: 600px;
  }

  .recreation-resource-suggestion-form {
    width: 100%;
    margin-bottom: 1rem;
  }

  // Prevent issue where features aren't clickable under the controls container
  pointer-events: none;

  input,
  button,
  .clear-button {
    pointer-events: auto;
  }

  .search-chip {
    max-width: fit-content;
    margin: 0;
  }
}
