@import '@/styles/variables.scss';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins/_breakpoints';

.search-map-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  overflow: hidden;
  background-color: white;

  .search-map-feature-preview {
    max-width: 250px;

    @include media-breakpoint-up(sm) {
      max-width: 800px;
    }
  }

  .beta-banner {
    display: none;

    @include media-breakpoint-up(sm) {
      display: flex;
    }
  }

  .zoom-control {
    bottom: 0.5rem;
    right: 0.5rem;

    button {
      height: 30px;
    }

    @include media-breakpoint-up(sm) {
      bottom: 1rem;
      right: 1rem;
    }
  }
}

.search-map-controls {
  position: fixed;
  top: 106px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0.5rem;
  width: 100%;
  max-width: none;
  display: flex;
  flex-direction: column;
  z-index: 10000;
  border-radius: 4px;
  transform: none;

  @include media-breakpoint-up(sm) {
    top: 220px;
  }

  // Collapse and center on larger screens
  @include media-breakpoint-up(md) {
    top: 220px;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: row;
    max-width: 100%;
    max-width: $pageMaxWidth;
    justify-content: space-between;
  }

  // Ensure interactivity inside
  pointer-events: none;

  input,
  button,
  .clear-button,
  .recreation-resource-suggestion-form {
    pointer-events: auto;
  }

  .search-chip {
    max-width: fit-content;
    max-height: 32px;
    margin: 0;
    white-space: nowrap;

    @include media-breakpoint-up(md) {
      padding: 1.25rem 0.5rem;
    }
  }

  .map-search-form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;

    @include media-breakpoint-up(sm) {
      max-width: 100%;
    }

    .filter-btn {
      display: none;
      margin-left: 1rem;

      @include media-breakpoint-up(sm) {
        display: block;
      }
    }

    .recreation-resource-suggestion-form {
      width: 100%;
      margin-bottom: 0.5rem;

      @include media-breakpoint-up(md) {
        max-width: 500px;
        margin-bottom: 0;
      }

      .suggestion-search-input-container {
        border: 1px solid $colorBlue;
      }

      .rbt-menu {
        border: 1px solid $colorBlue;
        border-top: none;
      }

      .submit-btn {
        padding: 0.5rem 1rem;
      }
    }
  }
}
