@import '@/styles/variables.scss';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/_breakpoints';

.search-map-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2000;
  overflow: hidden;
  background-color: white;

  .search-map-feature-preview {
    max-width: 250px;

    @include media-breakpoint-up(sm) {
      max-width: 800px;
    }
  }
}

.search-map-controls {
  position: fixed;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: $pageMaxWidth;
  gap: 0.75rem;
  top: 10px;
  left: 10px;
  right: 10px;
  z-index: 10000;
  padding: 0.5rem;
  border-radius: 4px;

  @include media-breakpoint-up(md) {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  @include media-breakpoint-up(sm) {
    min-width: fit-content;
    max-width: fit-content;
    right: unset;
  }

  // Prevent issue where features aren't clickable under the controls container
  pointer-events: none;

  input,
  button,
  .clear-button {
    pointer-events: auto;
  }

  .search-chip {
    max-width: fit-content;
    margin: 0;
  }
}
