@import '@/styles/global';

.info-section {
  .content-section {
    @extend .page;
  }

  .learn-more-link {
    color: $colorBlueMed;
    text-decoration: underline;

    svg {
      font-size: 0.7rem;
    }
  }

  .research-signup-link {
    text-decoration: underline;
    color: inherit;
  }
}
