.search-map-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  overflow: hidden;
  background-color: white;
}

.search-map-view-controls {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10000;
  padding: 0.5rem;
  border-radius: 4px;

  .search-form {
    margin-bottom: 1em;
  }
}
