# Reusable vars
x-var:
  - &POSTGRES_USER postgres
  - &POSTGRES_PASSWORD default
  - &POSTGRES_DATABASE postgres
  - &POSTGRES_SCHEMA rst

# Reusable envars for postgres
x-postgres-vars: &postgres-vars
  POSTGRES_HOST: database
  POSTGRES_USER: *POSTGRES_USER
  POSTGRES_PASSWORD: *POSTGRES_PASSWORD
  POSTGRES_DATABASE: *POSTGRES_DATABASE
  POSTGRES_SCHEMA: *POSTGRES_SCHEMA

services:
  database:
    image: postgis/postgis:16-3.4
    container_name: database
    environment:
      <<: *postgres-vars
    healthcheck:
      test: ['CMD', 'pg_isready', '-U', *POSTGRES_USER]
    ports: ['5432:5432']

  migrations:
    image: ${FLYWAY_IMAGE:-flyway/flyway:10-alpine}
    container_name: migrations
    command: info migrate info
    volumes: ['./migrations/rst/sql:/flyway/sql:ro']
    environment:
      FLYWAY_URL: jdbc:postgresql://database:5432/postgres
      FLYWAY_USER: *POSTGRES_USER
      FLYWAY_PASSWORD: *POSTGRES_PASSWORD
      FLYWAY_BASELINE_ON_MIGRATE: true
      FLYWAY_DEFAULT_SCHEMA: rst
    depends_on:
      database:
        condition: service_healthy

  fixtures:
    image: ${FLYWAY_FIXTURES_IMAGE:-flyway/flyway:10-alpine}
    container_name: fixtures
    command: info migrate info
    volumes: ['./migrations/fixtures/sql:/flyway/sql:ro']
    environment:
      FLYWAY_URL: jdbc:postgresql://database:5432/postgres
      FLYWAY_USER: *POSTGRES_USER
      FLYWAY_PASSWORD: *POSTGRES_PASSWORD
      FLYWAY_BASELINE_ON_MIGRATE: true
      FLYWAY_DEFAULT_SCHEMA: migration # needs a separate migration schema or it will fail
    depends_on:
      migrations:
        condition: service_completed_successfully

  schemaspy:
    image: schemaspy/schemaspy:6.2.4
    profiles: ['schemaspy']
    container_name: schemaspy
    command:
      -t pgsql11 -db postgres -host database -port 5432 -u postgres -p default
      -schemas rst
    depends_on:
      migrations:
        condition: service_completed_successfully
    volumes: ['./output:/output']

  backend:
    container_name: backend
    depends_on:
      migrations:
        condition: service_completed_successfully
    environment:
      <<: *postgres-vars
      NODE_ENV: development
      PORT: 8000
      KEYCLOAK_AUTH_SERVER_URL: ${KEYCLOAK_AUTH_SERVER_URL:-}
      KEYCLOAK_REALM: ${KEYCLOAK_REALM:-}
      KEYCLOAK_CLIENT_ID: ${KEYCLOAK_CLIENT_ID:-}
      KEYCLOAK_ISSUER: ${KEYCLOAK_ISSUER:-}
      DAM_URL: ${DAM_URL:-}
      DAM_PRIVATE_KEY: ${DAM_PRIVATE_KEY:-}
      DAM_USER: ${DAM_USER:-}
      DAM_RST_PDF_COLLECTION_ID: ${DAM_RST_PDF_COLLECTION_ID:-}
      DAM_RST_IMAGE_COLLECTION_ID: ${DAM_RST_IMAGE_COLLECTION_ID:-}
      DAM_RESOURCE_TYPE_PDF: ${DAM_RESOURCE_TYPE_PDF:-}
      DAM_RESOURCE_TYPE_IMAGE: ${DAM_RESOURCE_TYPE_IMAGE:-}
      RST_STORAGE_CLOUDFRONT_URL: ${RST_STORAGE_CLOUDFRONT_URL:-}
      FOREST_CLIENT_API_URL: ${FOREST_CLIENT_API_URL:-}
      FOREST_CLIENT_API_KEY: ${FOREST_CLIENT_API_KEY:-}
      POSTGRES_SCHEMA: *POSTGRES_SCHEMA
    image: ${BACKEND_IMAGE:-backend}
    build:
      context: ./backend
    ports: ['8000:8000']
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:8000/api']
    working_dir: '/app'

  localstack:
    profiles: ['local']
    container_name: localstack
    image: localstack/localstack:latest
    ports:
      - '4566:4566' # LocalStack Gateway
      - '4510-4559:4510-4559' # External services port range
    environment:
      - SERVICES=s3
      - DEBUG=1
      - AWS_DEFAULT_REGION=ca-central-1
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
    volumes:
      - 'localstack-data:/var/lib/localstack'
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:4566/_localstack/health']
      interval: 10s
      timeout: 5s
      retries: 5

  frontend:
    container_name: frontend
    build:
      context: ./frontend
    environment:
      BACKEND_URL: http://backend:8000
      PORT: ${FRONTEND_PORT:-3000}
      NODE_ENV: development
      LOG_LEVEL: debug
    image: ${FRONTEND_IMAGE:-frontend}
    ports: ['${FRONTEND_PORT:-3000}:${FRONTEND_PORT:-3000}']
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:${FRONTEND_PORT:-3000}']
    working_dir: '/app'
    depends_on:
      backend:
        condition: service_started

volumes:
  localstack-data:
