@import "@/styles/variables.scss";

.breadcrumbs {
  display: flex;
  align-items: center;
  color: $colorBlueMed;
  font-size: 0.875rem;
  margin: 16px 0;

  & > * {
    margin-right: 4px;
    white-space: nowrap;
  }

  .current-path {
    color: $colorGreyMed;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  a {
    display: inline-flex;
  }
}
