@import 'variables.scss';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/_breakpoints';

.bc-bg-yellow {
  background: $colorGold;
}
.bc-color-white {
  color: $colorWhite;
}
.bc-color-blue-dk {
  color: $colorBlue;
}
.bc-bg-blue-dk {
  background: $colorBlue;
}
.bc-bg-blue-md {
  background: $colorBlueMed;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

html,
body {
  scroll-behavior: smooth;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
}

body {
  color: $colorGrey;
  letter-spacing: normal;
  font-family: $globalFont;
}

head,
script,
style {
  display: none;
}

header nav {
  border: none;
}

a {
  color: $colorBlueMed;
  text-decoration: none;

  &:hover {
    color: $colorBlue;
  }
}

.page {
  width: 100%;
  max-width: $pageMaxWidth;
  margin: 0 auto;
}

.page-padding {
  padding: $pagePadding;

  @media (min-width: $lgBreakpoint) {
    padding: $pagePaddingLg;
  }
}

.page-nav-container {
  width: 100%;

  &.main {
    background-color: $colorBlue;
  }

  &.sub {
    background-color: $colorBlueMed;
  }

  &.search {
    background-color: $colorBlueLight;
  }
}

.page-nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0px auto;
  justify-content: space-between;
  padding: 0 $pagePadding;

  @include media-breakpoint-up(lg) {
    max-width: $pageMaxWidth;
    padding: $pagePaddingLg;
  }
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-grow: 1;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.line {
  background-color: $colorGold;
  height: 2px;
}

/** Typography overrides **/

// override BC Govt Bootstrap defaults

h1 {
  font-size: 32px;
  color: $colorBlue;
}

h1,
h2 {
  color: $colorBlue;
}

h2.section-heading {
  position: relative;
  padding-bottom: 2rem;
  &:after {
    position: absolute;
    content: '';
    height: 3px;
    bottom: 9px;
    margin: 0;
    left: 0;
    right: 0;
    width: 5rem;
    background: #fdb813;
  }
}

tr,
th,
td {
  padding: 1rem;
}

figure.table {
  color: $colorGrey;
  table {
    width: 100%;
    tr {
      &:first-of-type {
        th,
        td {
          border-top: 1px solid $colorGreyLight;
        }
      }
      & > :first-child {
        background: $colorBrownLight;
      }
    }
    th,
    td {
      border-bottom: 1px solid $colorGreyLight;
    }
    th {
      background: $colorBrownLight;
    }
  }

  &.horizontal-heading {
    overflow-x: auto;
    table {
      min-width: 600px;
    }
    &::-webkit-scrollbar {
      height: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba($colorBlack, 0.2);
      border-radius: 5px;
    }
  }
}
