@import '@/styles/variables.scss';

.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #f7b518;
  padding: 12px 24px;
  font-size: 16px;
  color: #002b45;
  text-align: center;
}

.banner-content {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.banner-text {
  font-weight: 400;
  text-align: left;
}

.banner-link {
  color: #002b45;
  text-decoration: underline;
  padding-right: 5em;
  padding-left: 0.3em;

  @media (max-width: 767px) {
    padding-right: 3em;
  }
}

.info-icon {
  font-size: 18px;
  padding-right: 0.2em;
}

.banner-button {
  background-color: #002b45;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  width: auto;
  position: relative;
}

.banner-button:hover {
  color: white;
}
