@import '@/styles/variables.scss';

.breadcrumbs {
  display: flex;
  align-items: center;
  color: $colorBlueMed;
  text-transform: capitalize;
  margin: 16px 0;

  & > * {
    margin-right: 8px;
  }

  .current-path {
    color: $colorGreyMed;
  }

  .spacer {
    cursor: default;

    &::after {
      content: '>';
    }
  }

  a {
    margin-right: 8px;
  }
}
