@import '@/styles/variables.scss';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/_breakpoints';

#footer {
  background-color: $colorBlue;
  overflow-x: hidden;
}

#home-footer {
  max-width: $pageMaxWidth;
  font-size: 0.8rem;
  padding: 48px $pagePadding;
  margin: 0px auto;

  .logo-column {
    width: 425px;
  }

  .icon {
    width: 28px;
    height: 28px;
    padding-right: 10px;
  }

  .footer-heading {
    font-size: 0.75rem;
    font-weight: bold;
    color: $colorWhite;
    margin-bottom: 18px;
    @media (max-width: $mdBreakpoint) {
      margin-top: 16px;
    }
  }

  .links-column {
    width: 145px;
    @media (max-width: $mdBreakpoint) {
      width: 200px;
    }
  }

  .paragraph-links {
    font-size: 0.75rem;
  }

  .back-original-link {
    margin-top: 20px;
  }

  hr {
    border-top: 1px solid $colorGold;
    opacity: 1;
    width: 38px;
  }

  @media (min-width: $lgBreakpoint) {
    padding: 48px $pagePaddingLg;
  }

  .footer-utility-link {
    font-size: 0.8rem;
    margin-right: 26px;
    margin-bottom: 16px;
    &:last-of-type {
      margin-right: 0;
    }
    @media (min-width: $mdBreakpoint) {
      margin-bottom: 0;
    }
  }

  a {
    color: $colorWhite;
    text-decoration: none;
    &:hover,
    &:focus-visible {
      text-decoration: underline;
    }
    &:focus-visible {
      border: $colorWhite solid 2px;
      outline: $colorBlueMed solid 2px;
      outline-offset: 0px;
      border-radius: 4px;
    }
  }

  .beta-button {
    position: relative;
    color: $colorGold;
    border: none;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 4px;
    top: 20px;
    left: -20px;
    letter-spacing: 0.3em;
    &:hover {
      cursor: default;
    }
  
    @media (max-width: 767px) {
      display: none;
    }
  }
}
