@import '@/styles/variables.scss';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/_breakpoints';

#footer {
  background-color: $colorBlue;
  overflow-x: hidden;
}

#home-footer {
  max-width: $pageMaxWidth;
  font-size: 0.8rem;
  padding: 48px $pagePadding;
  margin: 0px auto;

  .icon {
    width: 34px;
    height: 34px;
    padding-right: 10px;
  }

  .footer-heading {
    font-size: 0.8rem;
    font-weight: bolder;
    color: $colorWhite;
    margin-bottom: 18px;
    @media (max-width: $mdBreakpoint) {
      margin-top: 16px;
    }
  }

  hr {
    border-top: 1px solid $colorGold;
    opacity: 1;
    width: 42px;
  }

  @media (min-width: $lgBreakpoint) {
    padding: 48px $pagePaddingLg;
  }

  .footer-utility-link {
    font-size: 0.8rem;
    margin-right: 26px;
    margin-bottom: 16px;
    &:last-of-type {
      margin-right: 0;
    }
    @media (min-width: $mdBreakpoint) {
      margin-bottom: 0;
    }
  }

  a {
    color: $colorWhite;
    text-decoration: none;
    &:hover,
    &:focus-visible {
      text-decoration: underline;
    }
    &:focus-visible {
      border: $colorWhite solid 2px;
      outline: $colorBlueMed solid 2px;
      outline-offset: 0px;
      border-radius: 4px;
    }
  }
}
