@import '@/styles/variables.scss';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/_breakpoints';

.header-nav {
  height: 96px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0px auto;
  justify-content: space-between;
  padding: 0 $pagePadding;

  @include media-breakpoint-up(lg) {
    max-width: $pageMaxWidth;
    padding: $pagePaddingLg;
  }

  &.main {
    background-color: $colorBlue;
  }

  &.sub {
    background-color: $colorBlueMed;
    height: 64px;
    justify-content: flex-start;

    & a {
      color: $colorWhite;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.beta-button {
  color: #f7b518;
  border: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 2.5em;
  letter-spacing: 0.3em;

  &:hover {
    cursor: default;
  }

  @media (max-width: 767px) {
    display: none;
  }
}

a {
  text-decoration: none;
}
