@import '@/styles/variables.scss';

.page-menu {
  margin-bottom: 1rem;
  padding-right: 20px;
  font-size: 0.875rem;
  max-width: 260px;
  align-self: flex-start;
  top: 0px;

  @media (min-width: $mdBreakpoint) {
    position: sticky;
    position: -webkit-sticky;
    background-color: #fff;
    z-index: 100;
  }

  @media (max-width: $lgBreakpoint) {
    max-width: 100%;
  }

  a {
    width: 100%;
    color: $colorBlueMed;
    font-size: 1rem;
    text-decoration: underline;
    border-radius: 0px;
    margin-top: 15px;
    padding: 6px 12px 6px 0;

    &:hover,
    &:focus-visible {
      color: $colorBlue;
      text-decoration: underline;
    }
    &:focus-visible {
      border: $colorWhite solid 2px;
      outline: $colorBlueMed solid 2px;
      outline-offset: 0px;
      border-radius: 4px;
    }

    @media (min-width: $mdBreakpoint) {
      padding: 6px 12px;
      text-decoration: none;
    }
  }

  ul {
    @media (min-width: $mdBreakpoint) {
      list-style: none;
      padding-left: 0;
    }
  }

  .menu-header {
    font-size: 1.25rem;
    font-weight: 600;
  }
}
.page-menu[section-count='1'] {
  display: none;
}

.page-menu .active {
  @media (min-width: $mdBreakpoint) {
    color: $colorBlue;
    font-weight: bold;
    box-sizing: border-box;
    border-left: $colorBlue solid 3px;
  }
}
