@import "@/styles/mixins.scss";

.notification-bar-container {
  @include page-container-base;
  margin-top: 0.5rem;

  $border-radius: 12px;

  &__toast {
    width: 100%;
    border-radius: $border-radius;
    border: none;
    box-shadow: none;
  }

  &__toast-body {
    padding: unset;
  }

  &__alert {
    border-radius: $border-radius;
    margin-bottom: unset;
  }
}
