.notification-bar {
  position: absolute;
  top: 95px;
  left: 0;
  width: calc(100% - 10px);
  z-index: 9999;
  margin: 5px;
  float: none;
}

.alert {
  border-radius: 12px;
  margin-bottom: 5px;
}
