@import "@/styles/variables";

.landing-page {
  height: calc(100vh - $headerHeight);
  position: absolute;
  top: $headerHeight;
  background-image: url("/images/landing-page/admin-bg-dt.jpg");
  @media (max-width: $mdBreakpoint) {
    background-image: url("/images/landing-page/admin-bg-mb.jpg");
  }
  background-size: cover;
  background-position: center 50%;
  background-repeat: no-repeat;

  .search-container {
    margin: auto;
    border-radius: 1rem;
    color: $colorWhite;
    background-color: $colorBlue;
    width: clamp(min(700px, 90vw), 50%, 888px);
    max-height: fit-content;
    position: relative;
    top: 25%;
    letter-spacing: 0.02rem;
  }
}
