@import '@/styles/variables.scss';

.gallery-file-card {
  box-shadow: 0 1px 2px $colorGreyLight;
  border-radius: 3px;
  height: 100%;

  &--error {
    border: 1px solid $colorRed !important;
  }

  &__top {
    position: relative;
    overflow: hidden;
    background: $colorBrownLight;
    height: 140px;

    &:hover {
      .gallery-file-card__top-hover {
        opacity: 1;
      }
    }

    &--error {
      background: $colorRedLight;
      color: $colorRed;
    }

    &--pending {
      background: $colorBackgroundGrey;
    }
  }

  &__top-hover {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $colorBlack;
    opacity: 0;
    transition: opacity 0.2s;
    z-index: 2;
    cursor: pointer;

    .gallery-file-card__action-button-container {
      color: $colorWhite;

      &:hover * {
        color: $colorGold;
      }
    }

    .btn {
      font-size: 2rem;
      color: $colorWhite;
      background: transparent;
      border: none;
      box-shadow: none;
    }
  }

  &__filename {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;

    &--error {
      color: $colorRed;
    }
  }

  &__filename-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &__body {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  &__menu {
    font-size: 20px;
    color: $colorGrey;
    cursor: pointer;
    padding: 0 !important;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover,
    &:focus {
      background: transparent;
      color: $colorGrey;
    }

    &::after {
      display: none;
    }
  }

  &__date {
    font-size: 14px;
    color: $colorGreyMed;
    line-height: 140%;

    &--error {
      color: $colorRed !important;
    }
  }

  .dropdown-menu {
    border: 1px solid $colorBlue;
    border-radius: 8px;
    box-shadow: 0px 25.6px 57.6px 0px rgba(0, 0, 0, 0.22);
    padding: 0;

    .dropdown-item {
      min-height: 48px;
      padding: 10px 16px;
      gap: 8px;
      color: $colorBlue;
      border-bottom: 1px solid $colorBlue;
      display: flex;
      align-items: center;

      &:last-child {
        border-bottom: none;
      }

      &:hover,
      &:focus {
        color: $colorBlue;
        background-color: $colorBlueLight;
      }
    }
  }
}
