@import '@/styles/variables.scss';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins/_breakpoints';

.recreation-resource-suggestion-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  color: $colorWhite;

  @include media-breakpoint-up(sm) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .form-label {
    font-size: 1.5rem;
  }

  .rbt {
    width: 100%;
  }

  .submit-btn {
    padding: 0.5rem 2rem;
    margin-top: 1rem;
    @include media-breakpoint-up(sm) {
      margin-top: 0;
      margin-left: 1rem;
    }
  }
}
