@import '../../styles/variables.scss';

.gallery-accordion {
  .accordion-item {
    padding: 1rem;

    .accordion-header {
      button {
        box-shadow: unset;
        background-color: unset;
      }
    }

    .gallery-card {
      box-shadow: 0 1px 2px $colorGreyLight;
      border-radius: 3px;

      .gallery-card-top {
        background: $colorBrownLight;
        height: 140px;
      }

      .gallery-card-filename {
        font-size: 15px;
      }

      .gallery-card-menu {
        font-size: 20px;
        color: $colorGrey;
        opacity: 0.7;
        cursor: pointer;
      }

      .gallery-card-date {
        font-size: 0.92rem;
        color: $colorGreyMed;
      }
    }

    .gallery-alert-banner {
      background: $colorWhite;
      border: 1px solid $colorBlue;
      border-radius: 8px;
      display: flex;
      align-items: center;
      gap: 14px;

      .gallery-alert-icon {
        font-size: 1.2rem;
      }

      .gallery-alert-text {
        color: $colorBlack;
        font-size: 1rem;
      }
    }

    .upload-tile-dashed {
      border: 1px dashed $colorGreyLight;
      cursor: pointer;
      border-radius: 3px;
    }
  }
}
