@import "../../styles/variables.scss";

.gallery-accordion {
  .accordion-item {
    padding: 1rem;

    .accordion-header {
      // Remove default styles set by React-Bootstrap
      button {
        box-shadow: unset;
        background-color: unset;
      }
    }

    .gallery-column {
      height: 232px;
    }

    .gallery-card {
      box-shadow: 0 1px 2px $colorGreyLight;
      border-radius: 3px;
      height: 100%;

      .gallery-card-top {
        position: relative;
        overflow: hidden;
        background: $colorBrownLight;
        height: 140px;

        &:hover {
          .gallery-card-top-hover {
            opacity: 1;
          }
        }

        &.gallery-card-top-error {
          background: #fcf0f0;
          color: $colorRed;
        }
        &.gallery-card-top-pending {
          background: #f5f5f5;
        }
      }

      .gallery-card-top-hover {
        position: absolute;
        height: 140px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $colorBlack;
        opacity: 0;
        transition: opacity 0.2s;
        z-index: 2;
        cursor: pointer;

        .btn {
          font-size: 2rem;
          color: #fff;
          background: transparent;
          border: none;
          box-shadow: none;

          &:hover {
            color: $colorGold;
          }
        }
      }

      .gallery-card-filename {
        font-size: 15px;
      }

      .gallery-card-filename-ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        display: -webkit-box;
        line-clamp: 2;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }

      .gallery-card-menu {
        font-size: 20px;
        color: $colorGrey;
        opacity: 0.7;
        cursor: pointer;

        &::after {
          display: none;
        }
      }

      .gallery-card-date {
        font-size: 0.92rem;
        color: $colorGreyMed;
      }

      .gallery-card-upload-error {
        width: 100%;
        text-align: center;
        padding: 24px 0 8px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $colorRed;
        font-weight: 500;

        .fa-file-pdf {
          margin-bottom: 8px;
        }

        .gallery-card-upload-failed {
          margin-bottom: 8px;
        }
      }

      .gallery-card-upload-pending {
        width: 100%;
        text-align: center;
        padding: 24px 0 8px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      &.gallery-card-error {
        border: 1px solid $colorRed !important;
      }

      .gallery-card-filename-error {
        color: $colorRed !important;
        font-weight: bold;
      }

      .gallery-card-date-error {
        color: $colorRed !important;
      }
    }

    .gallery-alert-banner {
      background: $colorWhite;
      border: 1px solid $colorBlue;
      border-radius: 8px;
      display: flex;
      align-items: center;
      gap: 14px;

      .gallery-alert-icon {
        font-size: 1.2rem;
      }

      .gallery-alert-text {
        color: $colorBlack;
        font-size: 1rem;
      }
    }
  }
}
