@import "../../styles/global.scss";

.resource-header-section {
  width: 100%;

  .resource-header-title-text {
    font-weight: bold;
    font-size: 1.75rem;
    margin: 0;
    color: $colorBlack;
  }

  .resource-header-meta {
    font-size: 1em;
    color: $colorGrey;

    .resource-header-type {
      font-weight: 600;
    }
  }

  .action-buttons {
    .btn {
      font-weight: normal;

      .action-button-icon {
        border: 1px solid $colorBlue;
        border-radius: 3px;
        padding: 0.2rem;
        font-size: 0.75rem;
      }
      &:hover .action-button-icon {
        border-color: $colorWhite;
      }
    }
  }

  .btn {
    height: 2.5rem;
    color: $colorBlue;
    border-color: $colorBlue;
    min-width: 110px;
  }
}

.info-banner {
  margin-bottom: unset;

  .info-banner-icon {
    color: $colorGold;
  }

  .info-banner-text {
    font-weight: 700;
    color: $colorBlack;
    font-size: 1rem;
  }
}
