@import '@/styles/variables';
@import '@/styles/global';

.search-banner-container {
  $banner-height: clamp(50vh, 50vw, 600px);

  height: $banner-height;

  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url('/images/landing-page/hero/hero-sm.webp');
  background-size: cover;
  background-position: center 10%;
  background-repeat: no-repeat;

  @include media-breakpoint-up(md) {
    background-image: url('/images/landing-page/hero/hero-md.webp');
  }

  @include media-breakpoint-up(lg) {
    background-image: url('/images/landing-page/hero/hero-lg.webp');
  }

  @include media-breakpoint-up(xl) {
    background-image: url('/images/landing-page/hero/hero-xl.webp');
  }

  @include media-breakpoint-up(xxl) {
    background-image: url('/images/landing-page/hero/hero-xxl.webp');
  }

  .search-container {
    color: $colorWhite;
    padding: 1.5rem 1.5rem 0.5rem 1.5rem;
    background-color: $colorBlue;
    width: clamp(min(700px, 90vw), 50%, 888px);
    max-height: fit-content;

    @include media-breakpoint-up(sm) {
      padding: 2rem;
    }

    .search-header {
      display: flex;
      flex-direction: column;

      @include media-breakpoint-up(sm) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
    }

    .search-title {
      color: $colorWhite;
    }

    .search-by-map-link {
      color: $colorWhite;
      text-decoration: none;
      font-size: 1rem;

      &:hover {
        color: $colorGold;
      }
    }

    .search-btn {
      margin-top: 1rem;
      color: $colorBlue;

      &:hover {
        background-color: $colorGold;
      }

      @include media-breakpoint-up(md) {
        margin-top: 0;
      }
    }
  }
}
