@import '@/styles/variables.scss';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/_breakpoints';

.filter-menu-container {
  display: none;
  min-width: 240px;

  .filter-menu-title {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 16px;
  }

  @include media-breakpoint-up(lg) {
    display: block;
  }
}

.filter-group-container {
  margin-bottom: 32px;

  .filter-group-title {
    font-size: 1rem;
    font-weight: 700;
  }
}

.filter-options-container {
  margin: 8px 0;

  // checkbox
  .form-check {
    display: flex;
    margin-bottom: 8px;
    padding: 0;
    input[type='checkbox'] {
      // reset default styles
      -webkit-appearance: none;
      appearance: none;
      // set new styles
      width: 32px;
      height: 32px;
      position: relative;
      border: 1px solid $colorGreyMed;
      border-radius: 4px;
      cursor: pointer;
      margin: 0;
      &:checked::before {
        display: inline-block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 0;
        left: 0;
        content: '\f00c';
        font-family: $fontAwesome;
        font-weight: 900;
        font-size: 1rem;
        color: $colorWhite;
        background-color: $colorBlue;
        border-radius: 3px;
        padding: 4px 0 0 8px;
      }
    }
    label.form-check-label {
      line-height: 2rem;
      margin-left: 8px;
      white-space: pre-line;
    }
  }
}

.show-all-link {
  border: none;
  color: $colorBlue;
  text-decoration: none;
  background-color: transparent;
  &:hover,
  &:focus-visible {
    color: $colorBlue;
    text-decoration: underline;
  }
  &:focus-visible {
    outline-offset: 0px;
    border-radius: 4px;
  }
  svg {
    font-size: 1rem;
    margin-left: 6px;
  }
}

// modal
.modal.mobile-filter-modal {
  .modal-dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 32px;

    @include media-breakpoint-up(sm) {
      margin: 32px auto;
    }
  }
  .modal-content {
    background-color: $colorBackgroundGrey;
    .mobile-filter-modal-content {
      &--header {
        display: flex;
        justify-content: space-between;
        button.btn {
          color: $colorGrey;
          height: 24px;
          width: 24px;
          font-size: 1.25rem;
          padding: 0;
        }
      }
      .expand-link {
        margin: 0;
        padding: 0;
        color: $colorBlue;
        font-weight: normal;

        svg {
          font-size: 1rem;
          margin-left: 6px;
        }

        &:focus {
          box-shadow: none;
          color: $colorBlue;
        }
      }
      .mobile-filter-options {
        background-color: $colorWhite;
        border: 1px solid $colorGreyMed;
        border-radius: 4px;
        margin-top: 16px;
        width: 100%;

        .mobile-filter-option-label {
          margin: 1px 0; // optical
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: space-between;
          border: none;
          line-height: 1.125rem;
          background-color: inherit;
        }
      }
      .filter-group-container {
        margin-top: 0;
      }
    }
    .modal-footer {
      .clear-filter-link {
        margin: 0;
        text-decoration: underline;
      }
    }
  }
}

.close-filter-btn {
  svg {
    vertical-align: 1px; // optical
  }
}

.search-chip {
  height: auto !important;
  border-radius: 32px;
  font-size: 0.875rem;
  padding: 4px 12px;
  margin-right: 16px;
  margin-bottom: 8px;
  svg.close-icon {
    font-size: 1rem;
    margin-left: 8px;
  }
}

.filter-chips-container {
  display: flex;
  flex-wrap: wrap;
}
