@import '@/styles/variables.scss';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins/_breakpoints';

.filter-menu-search-map {
  .modal-dialog {
    width: 100%;
    height: 100%;

    @include media-breakpoint-up(lg) {
      max-width: 700px;
    }
  }

  .modal-dialog.modal-dialog-scrollable {
    margin: 0;

    @include media-breakpoint-up(md) {
      margin: auto;
    }
  }
  .modal-dialog-scrollable .modal-body {
    overflow-y: visible;
  }

  .modal-content {
    height: 100vh;
    @include media-breakpoint-up(md) {
      height: 100%;
      max-height: 700px;
    }
  }

  .modal-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include media-breakpoint-up(md) {
      height: 90vh;
      max-height: 700px;
    }
  }

  .filter-menu-content {
    overflow-y: auto;
    width: 100%;
    flex-grow: 1;
  }
  .filter-modal-content {
    height: 100%;
  }

  .modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    padding-top: 1rem;
    width: 100%;

    @include media-breakpoint-up(lg) {
      flex-direction: row-reverse;
    }

    button {
      width: 100%;
      @include media-breakpoint-up(lg) {
        width: fit-content;
        padding: 0.5rem 3rem;
      }
    }
  }

  .filter-option-columns {
    @include media-breakpoint-up(md) {
      column-count: 2;
      column-gap: 1rem;
    }
  }
}

.filter-modal {
  z-index: $zIndexFilterMenu;
}

.apply-button {
  width: 90% !important;
}

.footer-buttons {
  @include media-breakpoint-up(md) {
    padding: 0.7em 0em !important;
  }
}
