{
	auto_https off
	admin 0.0.0.0:3003
	servers {
		metrics
	}
}

:3000 {
	root * /srv

	log {
		output stdout
		format console {
			time_format iso8601
			level_format color
		}
		level {$LOG_LEVEL}
	}

	encode zstd gzip
	file_server

	@spa_router {
		not path /api*
		file {
			try_files {path} /index.html
		}
	}

	rewrite @spa_router {http.matchers.file.relative}

	reverse_proxy /api* {$BACKEND_URL} {
		header_up Host {http.reverse_proxy.upstream.hostport}
		header_up X-Real-IP {remote_host}
		header_up X-Forwarded-For {remote_host}
	}

	header {
		X-Frame-Options "SAMEORIGIN"
		X-XSS-Protection "1; mode=block"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "same-origin"
		Strict-Transport-Security "max-age=31536000"
		Permissions-Policy "fullscreen=(self), camera=(), microphone=()"
		Content-Security-Policy <<<EOF
		default-src 'self' https://spt.apps.gov.bc.ca https://maps.arcgis.com https://services.arcgis.com;
		script-src 'self' https://www2.gov.bc.ca;
		style-src 'self' https://fonts.googleapis.com https://use.fontawesome.com;
		font-src 'self' https://fonts.gstatic.com;
		img-src 'self' data: https://fonts.googleapis.com https://gov.bc.ca https://www.w3.org https://sitesandtrailsbc.ca;
		EOF
		Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate"
	}
}

:3001 {
	handle /health {
		respond "OK"
	}
}
