{
	auto_https off
	admin 0.0.0.0:3003
	servers {
		metrics
	}
}
:3001 {
	log {
		output stdout
		format console {
			time_format iso8601
			level_format color
		}
		level {$LOG_LEVEL}
	}
	root * /srv
	encode zstd gzip
	file_server
	@spa_router {
		not path /api*
		file {
			try_files {path} /index.html
		}
	}
	rewrite @spa_router {http.matchers.file.relative}
	# Proxy requests to API service
	reverse_proxy /api* {$BACKEND_URL} {
		header_up Host {http.reverse_proxy.upstream.hostport}
		header_up X-Real-IP {remote_host}
		header_up X-Forwarded-For {remote_host}
	}
	header {
		Content-Security-Policy "
			default-src * 'unsafe-inline' 'unsafe-eval' data: blob:;
			script-src * 'unsafe-inline' 'unsafe-eval' data: blob:;
			style-src * 'unsafe-inline' data:;
			img-src * data: blob:;
			connect-src *;
			font-src * data:;
			media-src *;
			frame-src *;
		"
	}
}
:3002 {
	handle /health {
		respond "OK"
	}
}
