@import '@/styles/variables.scss';

.header {
  &.main {
    background-color: $colorBlue;
  }

  &.development {
    background-color: $colorHeaderDevEnvironment;
  }

  &.test {
    background-color: $colorHeaderTestEnvironment;
  }
  &__logo {
    width: 200px;
    height: 50px;

    &--mobile {
      width: 44px;
      height: 52px;
    }
  }

  &__avatar {
    cursor: pointer;
  }

  &__menu-button {
    &,
    &:hover,
    &:focus {
      border-color: $colorWhite;
      width: 44px;
      height: 42px;
    }
  }

  .bcds-header {
    background-color: transparent !important;
    color: $colorWhite;
    height: $headerHeight;

    &--title {
      color: $colorWhite !important;
    }
  }
}
