@import "@/styles/variables.scss";

.bcds-header {
  background-color: $colorBlue !important;
  color: $colorWhite;
  height: $headerHeight;
}

.header-container {
  .full-name {
    font-weight: 700;
    font-size: 1.05rem;
  }
}

.logo {
  width: 200px;
  height: 50px;
}

.logo-mobile {
  width: 44px;
  height: 52px;
}

.btn-outline-primary,
.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:visited {
  color: $colorWhite;
  border-color: $colorWhite;
  width: 44px;
  height: 42px;
  background-color: transparent;
}

.admin-title {
  width: 400px;
  font-weight: 700;
  font-style: Bold;
  font-size: 27.65px;
  line-height: 39.82px;
  vertical-align: bottom;
  margin-left: 20px;
  @media (max-width: 767px) {
    width: 200px;
  }
}
