@import "@/styles/variables.scss";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/_breakpoints";

.suggestion-list-item {
  width: 100%;
  display: flex;
  align-items: center;

  .suggestion-list-row {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  .icon-col {
    flex: 0 0 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon-wrapper {
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .content-col {
    flex: 1 1 auto;
    min-width: 0;
    margin-right: auto;
    padding: 0;

    .rec-name {
      text-transform: capitalize;
    }

    .description-text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
      min-width: 0;
      color: $text-muted;
      font-size: 0.9em;
    }

    @include media-breakpoint-up(sm) {
      display: flex;
      flex-direction: column;

      .description-text {
        white-space: normal;
      }
    }
  }
}
