@import '@shared/styles/global.scss';

// Override Bootstrap tooltip styling to match BC Gov design system
.tooltip {
  --bs-tooltip-opacity: 1;

  .tooltip-inner {
    background-color: $colorBlue;
    color: $colorWhite;
    font-family: $globalFont;
    font-size: 0.8125rem;
    border-radius: 4px;
    padding: 0.375rem 0.625rem;
  }

  &.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: $colorBlue;
  }

  &.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: $colorBlue;
  }

  &.bs-tooltip-start .tooltip-arrow::before {
    border-left-color: $colorBlue;
  }

  &.bs-tooltip-end .tooltip-arrow::before {
    border-right-color: $colorBlue;
  }
}
