.add-fees-container {
  label {
    font-weight: bold;
  }

  .form-check {
    label {
      font-weight: normal;
    }
  }
}

.rec-resource-fee-form-modal {
  .modal-header {
    padding: 0.5rem 1rem;
  }
}
