@import '@/styles/global';

.content-section {
  width: 100%;

  .row {
    @include media-breakpoint-up(lg) {
      --bs-gutter-x: 5rem;
    }

    @include media-breakpoint-down(lg) {
      --bs-gutter-y: 2rem;
    }
  }
}
