@import '@/styles/variables';

.search-form {
  position: relative;

  .search-input {
    width: 100%;
    padding-right: 2.5rem;
    padding-left: 1rem;

    @media (min-width: $mdBreakpoint) {
      flex: 1;
    }

    &.has-search-icon {
      padding-left: 2.5rem;
    }

    &:placeholder-shown {
      text-overflow: ellipsis;
      font-size: 0.9rem;
      padding-right: 0;
    }
  }

  .search-input,
  .search-button {
    height: 48px;
  }

  .search-input-container {
    position: relative;

    .search-icon {
      position: relative;
      left: 0.75rem;

      top: 50%;
      color: $colorBlue;
      pointer-events: none;
      z-index: 10; // otherwise icon disappears when input is in focus
    }
  }

  .search-button {
    min-width: 130px;
  }

  .clear-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    color: #999;
    font-size: 16px;
    z-index: 10;

    &:hover {
      color: #333;
    }
  }

  .search-spacer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem 1rem;
  }

  .search-input-group {
    display: flex;
    flex-direction: column;

    @media (min-width: $mdBreakpoint) {
      flex-direction: row;
    }
  }
}
