@import '@/styles/variables';

.base-file-modal {
  .modal-dialog {
    max-width: 694px;
  }
  .modal-header {
    border-bottom: none;
    padding-bottom: 0;
  }
  .modal-footer {
    border-top: none;
    padding-top: 0;
  }

  &__alert {
    &-icon {
      flex-shrink: 0;
    }

    &-text {
      font-size: 1rem;
      margin: 0;
    }
  }

  h4 {
    font-weight: 700;
    font-size: 1rem;
  }

  &__preview-img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 0.5rem;
    border: 1px solid $colorGreyLight;
  }

  &__preview-pdf {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin-bottom: 1rem;
    border: 2px dashed $colorGreyLight;
    border-radius: 8px;
    background-color: $colorBackgroundGrey;
    height: 150px;
  }

  &__file-name {
    font-size: 0.9rem;
    color: $colorGreyMed;
    text-align: center;
    font-weight: 500;
    max-width: 200px;
    word-break: break-word;
  }

  &__form-label {
    font-weight: 700;
    color: $colorGrey;
  }

  &__alert--info {
    background-color: $colorIceBlue;
    border: 1px solid $colorBlueMed;
    color: $colorBlue;
  }

  &__file-info {
    display: flex;
    gap: 1rem;
    font-size: 0.875rem;
    color: $colorGreyMed;
  }
}
