@import "@/styles/variables.scss";

.gallery-accordion {
  &__item {
    padding: 1rem;
  }

  &__header {
    // Remove default styles set by React-Bootstrap
    .accordion-button {
      box-shadow: unset;
      background-color: unset;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 1.15rem;
  }

  &__alert-banner {
    background: $colorWhite;
    border: 1px solid $colorBlue;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 14px;
  }

  &__alert-icon {
    font-size: 1.2rem;
  }

  &__alert-text {
    color: $colorBlack;
    font-size: 1rem;
  }

  &__column {
    height: 232px;
  }
}
