@import '@/styles/variables.scss';

.rec-resource-files-page {
  &__action-buttons {
    & .rec-resource-files-page__action-button {
      font-weight: normal;
      height: 2.5rem;

      & .rec-resource-files-page__action-button-icon {
        border: 1px solid $colorBlue;
        border-radius: 3px;
        padding: 0.2rem;
        font-size: 0.75rem;
      }
    }
  }

  &__ellipsis-toggle {
    padding: 0;
    margin: 0;
    border: 0;
    background: transparent;
    box-shadow: none;
    outline: none;
    min-width: 0;
    cursor: pointer;

    &::after {
      display: none;
    }
  }

  &__ellipsis-icon {
    color: $colorBlue;
    font-size: 2rem;
  }
}

.btn:disabled {
  border-color: $colorBackgroundGrey;
  background-color: $colorBackgroundGrey;
  color: $colorGreyLight;
  & .rec-resource-files-page__action-button-icon {
    border: 1px solid $colorGreyLight;
  }
}
