@import '@shared/styles/variables';

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: $colorGreenLightest;
  color: $colorGreenDarker;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
}
