@import '../../styles/variables.scss';

.recreation-resource-suggestion-form {
  background-color: $colorBlue;
  color: $colorWhite;
  border-radius: 0.25rem;

  .form-label {
    font-size: 1.5rem;
  }
}
