@import 'variables.scss';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins/_breakpoints';
@import '@bcgov/design-tokens/css/variables'; // Import BC Gov design tokens

:root {
  /**
   * Override Bootstrap variables with BC Gov design tokens
   * Github: https://github.com/bcgov/design-system
   * Figma link: https://www.figma.com/design/5cUBaBzdMv3hqq7LudDbcF/B.C.-Design-System--Community-?node-id=3675-22281&t=eXb6K7pmLURf7qmc-0
   */
  --bs-primary: var(--surface-color-primary-default);
  --bs-primary-rgb: 1, 51, 102;
  --bs-primary-hover: var(--surface-color-primary-hover);
  --bs-primary-pressed: var(--surface-color-primary-pressed);
  --bs-primary-disabled: var(--surface-color-primary-disabled);

  --bs-secondary: var(--surface-color-secondary-default);
  --bs-secondary-rgb: 255, 255, 255;
  --bs-secondary-hover: var(--surface-color-secondary-hover);
  --bs-secondary-pressed: var(--surface-color-secondary-pressed);
  --bs-secondary-disabled: var(--surface-color-secondary-disabled);

  --bs-success: var(--support-surface-color-success);
  --bs-danger: var(--support-surface-color-danger);
  --bs-warning: var(--support-surface-color-warning);
  --bs-info: var(--support-surface-color-info);

  --bs-border-color: var(--surface-color-border-default);
  --bs-border-radius: var(--layout-border-radius-large);
  --bs-body-bg: var(--surface-color-background-white);
  --bs-body-color: var(--typography-color-primary);
  --bs-font-sans-serif: var(--typography-font-families-bc-sans);
  --bs-font-family-base: var(--typography-font-families-bc-sans);
  --bs-font-weight-bold: var(--typography-font-weights-bold);
  --bs-font-weight-normal: var(--typography-font-weights-regular);
  --bs-link-color: var(--icons-color-link);
  --bs-link-hover-color: var(--surface-color-primary-hover);
  --bs-btn-primary-bg: var(--surface-color-primary-button-default);
  --bs-btn-primary-hover-bg: var(--surface-color-primary-button-hover);
  --bs-btn-primary-disabled-bg: var(--surface-color-primary-button-disabled);
  --bs-btn-secondary-bg: var(--surface-color-secondary-button-default);
  --bs-btn-secondary-hover-bg: var(--surface-color-secondary-button-hover);
  --bs-btn-secondary-disabled-bg: var(
    --surface-color-secondary-button-disabled
  );
  --bs-btn-danger-bg: var(--surface-color-primary-danger-button-default);
  --bs-btn-danger-hover-bg: var(--surface-color-primary-danger-button-hover);
  --bs-btn-danger-disabled-bg: var(
    --surface-color-primary-danger-button-disabled
  );
}

.btn-outline-primary {
  background-color: var(--surface-color-secondary-button-default);
  border: 1px solid var(--surface-color-border-dark);
  color: var(--typography-color-primary);

  &:hover {
    background-color: var(--surface-color-secondary-button-hover);
    border: 1px solid var(--surface-color-border-dark);
    color: var(--typography-color-primary);
  }

  &:focus {
    border-color: var(--surface-color-primary-hover);
    color: var(--surface-color-primary-hover);
  }

  &:disabled {
    border-color: var(--surface-color-primary-disabled);
    color: var(--surface-color-primary-disabled);
  }
}

// Typography color overrides for Bootstrap utility classes using BC Gov typography design tokens
.text-primary {
  color: var(--typography-color-primary) !important;
}
.text-secondary {
  color: var(--typography-color-secondary) !important;
}
.text-danger {
  color: var(--typography-color-danger) !important;
}
.text-success {
  color: var(--icons-color-success) !important;
}
.text-warning {
  color: var(--icons-color-warning) !important;
}
.text-info {
  color: var(--icons-color-info) !important;
}
.text-muted {
  color: var(--typography-color-placeholder) !important;
}
.text-dark {
  color: var(--theme-gray-100) !important;
}
.text-light {
  color: var(--typography-color-primary-invert) !important;
}

.bc-bg-yellow {
  background: $colorGold;
}

.bc-color-white {
  color: $colorWhite;
}

.bc-color-blue-dk {
  color: $colorBlue;
}

.bc-bg-blue-dk {
  background: $colorBlue;
}

.bc-bg-blue-md {
  background: $colorBlueMed;
}

.capitalize {
  text-transform: capitalize;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100%;
}

html,
body {
  scroll-behavior: smooth;
  min-height: 100vh;
  min-width: 100%;
  margin: 0;
}

body {
  color: $colorGrey;
  letter-spacing: normal;
  font-family: $globalFont;
}

head,
script,
style {
  display: none;
}

header nav {
  border: none;
}

a {
  color: $colorBlueMed;
  text-decoration: none;

  &:hover {
    color: $colorBlue;
    text-decoration: underline;
  }
}

.page-padding {
  padding: $pagePadding;

  @media (min-width: $lgBreakpoint) {
    padding: $pagePaddingLg;
  }
}

.page {
  @extend .page-padding;
  width: 100%;
  max-width: $pageMaxWidth;
  margin: auto;
}

.page-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  @extend .content-footer-spacing;

  &.bg-brown-light {
    background-color: $colorBrownLight;
  }
}

.page-nav-container {
  width: 100%;

  &.main {
    background-color: $colorBlue;
  }

  &.sub {
    background-color: $colorBlueMed;
  }

  &.search {
    background-color: $colorBlueLight;
  }
}

.link-color {
  color: $colorBlueMed;
}

.page-nav {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0px auto;
  justify-content: space-between;
  padding: 0 $pagePadding;

  @include media-breakpoint-up(lg) {
    max-width: $pageMaxWidth;
    padding: $pagePaddingLg;
  }
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-grow: 1;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.line {
  background-color: $colorGold;
  height: 2px;
}

/** Typography overrides **/

// override BC Govt Bootstrap defaults

h1 {
  font-size: 32px;
  color: $colorBlue;
}

h1,
h2 {
  color: $colorBlue;
}

h2.section-heading {
  position: relative;
  padding-bottom: 2rem;

  &:after {
    position: absolute;
    content: '';
    height: 3px;
    bottom: 9px;
    margin: 0;
    left: 0;
    right: 0;
    width: 5rem;
    background: #fdb813;
  }
}

tr,
th,
td {
  padding: 1rem;
}

figure.table {
  color: $colorGrey;

  table {
    width: 100%;

    tr {
      &:first-of-type {
        th,
        td {
          border-top: 1px solid $colorGreyLight;
        }
      }

      & > :first-child {
        background: $colorBrownLight;
      }
    }

    th,
    td {
      border-bottom: 1px solid $colorGreyLight;
    }

    th {
      background: $colorBrownLight;
    }
  }

  &.horizontal-heading {
    overflow-x: auto;

    table {
      min-width: 600px;
    }

    &::-webkit-scrollbar {
      height: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba($colorBlack, 0.2);
      border-radius: 5px;
    }
  }
}

.btn {
  font-weight: 700;
  height: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn-link {
  color: $colorBlue;
  text-decoration: none;
  border: none;

  &:hover {
    color: $colorBlue;
    text-decoration: underline;
  }
}

.btn-primary {
  background-color: $colorBlue;
  border-color: $colorBlue;
  color: $colorWhite;

  &:hover {
    color: $colorWhite;
    background-color: $colorBlueMed;
  }
}

.btn-secondary {
  background-color: $colorWhite;
  border-color: $colorBlue;
  color: $colorBlue;

  &:hover {
    color: $colorBlue;
    background-color: $colorBlueLight;
  }
}

.btn-primary:not(:disabled):not(.disabled):active {
  background-color: $colorBlue;
  border-color: $colorBlue;
}

.btn-secondary:not(:disabled):not(.disabled):active {
  background-color: $colorWhite;
  border-color: $colorBlue;
}

.icon-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  img,
  svg {
    margin-right: 8px;
  }
}

.advisory-container {
  border-top: 1px solid $colorGreyMed;
  border-bottom: 1px solid $colorGreyMed;
  padding: 1rem;
  background-color: $colorBrownLight;

  .rich-text {
    margin-top: 2rem;
    margin-bottom: 0;
  }
}

input[type='text'] {
  border: 1px solid $colorGreyMed;

  &::placeholder {
    color: $colorGreyMed;
    font-size: 1rem;
  }
}

@mixin content-footer-spacing {
  padding-bottom: calc($landAckBoxHeight * 0.6);
}

.content-footer-spacing {
  @include content-footer-spacing;
}

// Quill editor bug fix for bullet lists
// https://github.com/slab/quill/issues/4124
li[data-list='bullet'] {
  list-style-type: disc;
}
