@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins/breakpoints';

.map-feature-preview {
  position: relative;

  .map-feature-preview-card,
  .map-feature-preview-spinner {
    position: absolute;
    top: 3.5rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .map-feature-preview-card {
    min-width: 90vw;
    max-width: 90vw;
    max-height: 48vh;

    @include media-breakpoint-up(sm) {
      min-width: 600px;
      max-width: none;
    }

    .activities-list,
    .card-activities.a {
      display: none;
    }

    .card-image-container {
      overflow: hidden;
    }
  }
}
