@import '@/styles/global';

.title {
  margin-bottom: 0.5em;
}

.activities-container {
  margin-top: 1em;
  @include media-breakpoint-down(md) {
    margin-top: 2em;
  }
  padding-bottom: 20px;
}

.activity-container {
  display: flex;
  flex-direction: column;
  width: 370px;
  @include media-breakpoint-down(md) {
    margin-bottom: 1em;
    margin-left: 0.5em;
  }

  a:link,
  a:visited,
  a:hover,
  a:active {
    text-decoration: none;
  }

  .activity-title {
    color: $colorBlue;
    font-weight: 700;
    font-style: Bold;
    font-size: 23px;
    line-height: 33px;
    margin-top: 0.6em;
    @include media-breakpoint-down(md) {
      margin-top: 0em;
      margin-left: 0.5em;
    }
    @media (max-width: $xlBreakpoint) {
      width: 260px;
    }
  }

  .activity-description {
    color: $colorBlue;
    font-size: 16px;
    width: 100%;
    @media (min-width: $mdBreakpoint) and (max-width: $xlBreakpoint) {
      width: 260px;
    }
  }

  .activity-image {
    border-radius: 24px;
    @include media-breakpoint-up(md) {
      width: 349px;
      height: 203px;
      border-bottom-width: 10px;
    }
    @media (min-width: $mdBreakpoint) and (max-width: $xlBreakpoint) {
      width: 260px;
      height: 152px;
    }

    @include media-breakpoint-down(md) {
      border-radius: 4px;
      border: solid 1px $colorBlue;
    }
  }

  .desktop-text {
    width: 350px !important;
  }
}
