@import '@/styles/variables.scss';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/_breakpoints';

.activities-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 16px;

  li {
    margin-right: 8px;
  }

  @include media-breakpoint-up(md) {
    margin: 0;
  }
}
