@import '@/styles/variables.scss';

.rec-resource-container {
  width: 100%;

  section {
    margin-bottom: 64px;
  }
}

.bg-container {
  width: 100vw;
  background: $colorBrownLight;
}

.rec-resource-content {
  padding: $pagePaddingLg;
  max-width: $pageMaxWidth;
  margin: 0 auto;
}

.icon-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 32px;

  & span {
    margin-left: 8px;
  }
}
