@import '@/styles/variables.scss';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/_breakpoints';

.rec-resource-card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: $white;
  margin-bottom: 16px;
  overflow: hidden;

  @include media-breakpoint-up(sm) {
    flex-direction: row;
    height: 200px;
  }

  .status-container {
    padding: 14px;
    min-width: 200px;
  }
}

.card-heading-text {
  display: flex;
  align-items: center;
  // Unfortunate use of important since bootstrap theme is using it
  font-size: 1.25rem !important;
  color: $colorBlue;
  margin-bottom: 16px;
}

.card-heading-icon {
  width: 1rem;
  height: 1rem;
  margin-left: 8px;
}

.carousel-container {
  width: 100%;

  @include media-breakpoint-up(sm) {
    height: 200px;
    width: 250px;
  }
}

.carousel-content {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 100%;
}

.carousel-desktop-image {
  display: none;

  @include media-breakpoint-up(sm) {
    display: none;
  }
}

.carousel-mobile-image {
  object-fit: cover;
  max-height: 300px;
  display: none;

  @include media-breakpoint-up(sm) {
    display: none;
  }
}
