@import '@/styles/variables.scss';

main {
  max-width: 100vw;
  padding: 0;
}

.rec-resource-container {
  with: 100%;
}

.bg-container {
  width: 100vw;
  background: $colorBrownLight;
}

.rec-resource-content {
  padding: $pagePaddingLg;
  max-width: $pageMaxWidth;
  margin: 0 auto;
}

.icon-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 32px;

  & span {
    margin-left: 8px;
  }
}

h2.section-heading {
  position: relative;
  padding-bottom: 2rem;
  &:after {
    position: absolute;
    content: '';
    height: 3px;
    bottom: 9px;
    margin: 0;
    left: 0;
    right: 0;
    width: 5rem;
    background: #fdb813;
  }
}
