@import '@/styles/variables.scss';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/_breakpoints';

.search-banner {
  padding: 16px 32px;

  @include media-breakpoint-up(sm) {
    padding: 8px 16px;

    h1 {
      max-width: 372px;
    }

    input {
      max-width: 256px;
    }
  }
}

.load-more-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
