@import '@/styles/variables.scss';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/_breakpoints';

.search-container {
  display: flex;
  flex-direction: row;
  width: 100%;

  .show-filters-btn-mobile {
    display: block;
    width: 100%;
    margin-bottom: 16px;
    color: $colorBlue;

    &:active {
      color: $colorBlue;
    }

    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  .load-more-btn {
    width: 9rem;
  }
}

.input-wrapper {
  position: relative;
  width: 100%;

  input {
    width: 100%;
    padding-right: 40px;

    &:focus {
      outline: none;
      border-color: #656565;
      box-shadow:
        0 0 0 2px #fff,
        0 0 0 4px #2464a4;
      border-width: 3px;
    }
  }

  .clear-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    color: #999;
    font-size: 16px;

    &:hover {
      color: #333;
    }
  }
}

.search-banner {
  max-width: 1060px;

  .search-banner-input-container {
    input {
      min-height: 48px;
    }
  }
}
