@import '@/styles/variables.scss';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/_breakpoints';

.search-container {
  display: flex;
  flex-direction: row;
  width: 100%;

  .show-filters-btn-mobile {
    display: block;
    width: 100%;
    margin-bottom: 16px;
    color: $colorBlue;

    &:active {
      color: $colorBlue;
    }

    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  .clear-filters-btn-desktop {
    display: none;

    @include media-breakpoint-up(md) {
      display: block;
    }
  }
}

.search-banner {
  display: flex;
  padding: 16px 32px;

  @include media-breakpoint-up(sm) {
    padding: 8px 32px;

    h1 {
      max-width: 100%;
    }

    input {
      max-width: 100%;
    }
  }

  @include media-breakpoint-up(md) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 8px 16px;
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: 1fr 2fr;
  }

  .search-banner-input-container {
    input {
      min-height: 48px;
    }
  }
}
