@import '@/styles/variables.scss';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/_breakpoints';

.search-banner {
  padding: 16px 32px;

  @include media-breakpoint-up(sm) {
    padding: 8px 16px;

    h1 {
      max-width: 372px;
    }

    input {
      max-width: 330px;
    }
  }

  @include media-breakpoint-up(md) {
    input {
      max-width: 400px;
    }
  }
}

.load-more-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-results-count {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  height: 24px;
}
