@import '@/styles/variables';
@import '@/styles/global';

.search-banner-container {
  $banner-height: clamp(50vh, 50vw, 600px);

  height: $banner-height;

  // Base styles (default for all sizes)
  background-image: url('/images/landing-page/hero/hero-sm.webp');
  background-size: cover;

  background-position: center 10%;
  background-repeat: no-repeat;

  @include media-breakpoint-up(md) {
    background-image: url('/images/landing-page/hero/hero-md.webp');
  }

  @include media-breakpoint-up(lg) {
    background-image: url('/images/landing-page/hero/hero-lg.webp');
  }

  @include media-breakpoint-up(xl) {
    background-image: url('/images/landing-page/hero/hero-xl.webp');
  }

  @include media-breakpoint-up(xxl) {
    background-image: url('/images/landing-page/hero/hero-xxl.webp');
  }

  .search-container {
    $container-max-height: 255px;
    $max-position-top: calc(($banner-height - $container-max-height) / 2);

    max-height: $container-max-height;
    padding: 2rem;
    background-color: $colorBlue;
    width: clamp(min(700px, 90vw), 50%, 888px);
    position: relative;
    top: clamp(15%, 25%, $max-position-top);

    .search-title {
      color: $colorWhite;
    }

    .search-btn {
      &:hover {
        background-color: $colorGold;
      }
    }
  }
}
