@import '@/styles/variables.scss';

// Photo gallery display
.park-photo-gallery {
  display: flex;
  flex-direction: column;
  width: 100%;

  hr {
    border-color: $colorGreyLight;
    margin: 2rem 0;
  }
  .park-photo-gallery-container {
    max-width: none;
    cursor: pointer;
  }
}

.park-photo {
  height: 200px;
  @media (min-width: $smBreakpoint) {
    height: 300px;
  }
  @media (min-width: $lgBreakpoint) {
    height: 400px;
  }
  &--small {
    height: 146px;
    @media (min-width: $lgBreakpoint) {
      height: 196px;
    }
  }
  .lazy-load-image-loaded {
    width: 100%;
    height: 100%;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.show-photos {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: $zIndexPhotoGallery;
  width: fit-content;

  @media (min-width: $lgBreakpoint) {
    right: 32px;
    bottom: 32px;
  }

  .show-photo-button {
    color: $colorWhite;
    background-color: rgba($colorGrey, 0.8);
    border: transparent solid 2px;
    &:hover,
    &:focus-visible {
      color: $colorWhite;
      background-color: $colorGrey;
    }
    &:hover {
      border: $colorGrey solid 2px;
    }
    &:focus {
      outline: none;
    }
    &:focus-visible {
      border: $colorWhite solid 2px;
      outline: $colorBlueMed solid 2px;
      outline-offset: 0px;
    }
    .photo-icon {
      padding-right: 5px;
    }
  }
}

// park photo gallery
.yarl__slide_image {
  max-height: calc(100vh - 300px);
}
.yarl__slide_description_container {
  bottom: 10%;
  padding: 0;
  @media (min-width: $mdBreakpoint) {
    bottom: 16px;
  }
  .yarl__slide_description {
    width: 900px;
    max-width: calc(100% - 32px);
    margin: 0 auto;
  }
}
.yarl__thumbnails_thumbnail {
  &:not(.yarl__thumbnails_thumbnail_active) {
    opacity: 0.5;
  }
}
.yarl__navigation_prev,
.yarl__navigation_next {
  color: $colorWhite;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  filter: none;
  padding: 2px;
  &:focus {
    outline: none;
  }
  &:focus-visible {
    color: #000;
    background-color: $colorWhite;
    &:hover {
      color: #000;
    }
  }
}
.yarl__navigation_prev {
  left: 16px;
}
.yarl__navigation_next {
  right: 16px;
}

.gallery-container {
  width: 100%;
  cursor: pointer;
  outline: none;
}

.photo-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.photo-col {
  flex: 1;
  padding: 0.5rem; /* Adjust for spacing between columns */
  padding-left: 0;
  display: flex;
  flex-direction: column;
}

.photo-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem; /* Adjust for spacing between small photos */
}

.photo-grid > * {
  flex: 1 1 calc(50% - 0.5rem); /* Two items per row with spacing */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .photo-col {
    padding: 0.25rem;
  }

  .photo-grid > * {
    flex: 1 1 100%; /* Single column on smaller screens */
  }
}
