@import '@/styles/global.scss';

.rec-resource-container {
  width: 100%;
  @include content-footer-spacing;

  section {
    margin-bottom: 32px;
  }
}

.rec-resource-section {
  h3 {
    // Unfortunate use of !important due to bootstrap theme headings using !important
    font-size: 1.5rem !important;
    margin-bottom: 1rem;
  }

  p,
  .rich-text {
    margin-bottom: 2.25rem;
    max-width: 610px;
  }
}

.bg-container {
  width: 100%;
  background: $colorBrownLight;
}

.with-gallery {
  padding-bottom: 64px;
}

.photo-gallery-container {
  position: relative;
  top: -112px;
  margin-bottom: -112px;
}

.rec-resource-main {
  @include media-breakpoint-up(md) {
    margin-top: 4rem;
  }
}

.rec-resource-content {
  padding: $pagePaddingLg;
  max-width: $pageMaxWidth;
  margin: 0 auto;
}

.rec-content-container {
  width: 100%;
  max-width: 740px;
}

.not-found-message {
  margin-top: 10px;
  font-size: 0.8rem;
  color: $colorGreyMed;
}
