@import '@/styles/variables.scss';
@import '@/styles/global.scss';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/_breakpoints';

.header-nav {
  @extend .page;
  height: 96px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0px auto;
  justify-content: space-between;
  padding-top: 0;
  padding-bottom: 0;

  &.main {
    background-color: $colorBlue;
  }

  &.sub {
    background-color: $colorBlueMed;
    height: 64px;
    justify-content: flex-start;

    & a {
      color: $colorWhite;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.navbar-brand {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}
