@import '@/styles/variables.scss';
@import '@/styles/global.scss';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins/_breakpoints';

.header-nav {
  @extend .page;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0px auto;
  padding: 0.5rem 1rem;
  justify-content: space-between;

  @include media-breakpoint-up(sm) {
    height: 96px;
    padding-top: 0;
    padding-bottom: 0;
  }

  &.main {
    background-color: $colorBlue;
  }

  &.sub {
    background-color: $colorBlueMed;
    justify-content: flex-start;

    @include media-breakpoint-up(sm) {
      height: 64px;
    }

    & a {
      color: $colorWhite;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .header-logo {
    height: 48px;

    @include media-breakpoint-up(sm) {
      height: 64px;
    }
  }

  .header-feedback-btn {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    height: 40px;
    background-color: $colorWhite;
    color: $colorBlue;
    border-radius: 20px;
    font-size: 0.875rem;

    @include media-breakpoint-up(sm) {
      display: none;
    }
  }
}

.navbar-brand {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}
