@import '@/styles/variables.scss';
@import '@/styles/global.scss';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins/_breakpoints';

#header {
  position: relative;
}

.page-nav-container {
  &.main {
    background-color: $colorBlue;
  }
}

.header-nav {
  @extend .page;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px auto;
  padding: 0.5rem 1rem;

  @include media-breakpoint-up(sm) {
    height: 96px;
    padding-top: 0;
    padding-bottom: 0;
  }

  &.main {
    background-color: transparent;
  }

  &.sub {
    display: none;
    background-color: $colorBlueMed;
    justify-content: flex-start;
    height: 40px;

    @include media-breakpoint-up(md) {
      display: flex;
    }

    & a {
      color: $colorWhite;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .header-logo {
    height: 48px;

    @include media-breakpoint-up(sm) {
      height: 64px;
    }
  }

  .header-actions {
    max-width: fit-content;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .header-feedback-btn {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    height: 40px;
    background-color: $colorWhite;
    color: $colorBlue;
    border-radius: 20px;
    font-size: 0.875rem;

    @include media-breakpoint-up(sm) {
      display: none;
    }
  }
}

.navbar-brand {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}
