name: Scheduled

on:
  schedule: [cron: "0 11 * * 6"] # 3 AM PST = 12 PM UDT, Saturdays
  workflow_dispatch:
  workflow_call:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # https://github.com/bcgov/quickstart-openshift-helpers
  schema-spy:
    name: SchemaSpy Documentation
    uses: bcgov/quickstart-openshift-helpers/.github/workflows/.schema-spy.yml@v1.0.1
    with:
      flyway_locations: migrations/rst
      schemaspy_schema: rst
      flyway_schema: rst


  zap_scan:
    runs-on: ubuntu-24.04
    name: ZAP Scans
    environment: test
    permissions:
      issues: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Public Backend
            target_secret: API_URL
            suffix: /api
          - name: Public Frontend
            target_secret: APP_URL
            suffix: ""
          - name: Admin Backend
            target_secret: API_URL_ADMIN
            suffix: /api
          - name: Admin Frontend
            target_secret: APP_URL_ADMIN
            suffix: ""
    steps:
      - name: ZAP Scan - ${{ matrix.name }}
        uses: zaproxy/action-full-scan@v0.13.0
        with:
          allow_issue_writing: true
          artifact_name: "zap_${{ matrix.name }}"
          cmd_options: "-a"
          issue_title: "ZAP: ${{ matrix.name }}"
          target: ${{ secrets[matrix.target_secret] }}${{ matrix.suffix }}
